.embed-container {
    position: relative;
    width: 100%;
    padding-top: calc(700 / 764 * 100%); /* Calculando el aspect ratio */
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y:hidden ;
}
