@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Montserrat&display=swap');
#item {
    flex: 50%;
    min-width: 400px;
}
#imagen{
    flex: 50%;
    min-width: 400px;
    padding: 10px;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    #item{
        flex: 100% ;
    }
    #imagen{
        flex:100%;
    }
}
  
@media screen and (max-width: 480px) {
    #item{
        flex: 100%;
    }
}
#texto2{
    background-color:antiquewhite ;
    border-radius: 15px;
    margin: 15px auto;
    width: 98%;
}
p{
    font-family: Kurale ;
}
h1,h2,h3,h4{
    font-family: Montserrat;
    color: rgb(187, 43, 43);
}
ul,li{
    list-style: none;
}
#lista{
    background-color: antiquewhite;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
}
i{
    float: left;
}

